@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string error = Context.Request.Query["error"];
    ViewData["Title"] = "Log in";
}
@model UniProjectCSharp.Models.User
<div class="authWrapper">
    <p>Log in</p>
    <div class="authData">
        <form asp-action="OnLogin">
            <div>
                <label for="email">E-mail</label>
                <input class="form-control" id="email" placeholder="Enter your e-mail here" asp-for="Email" />
            </div>
            <div>
                <label for="pass">Password</label>
                <input class="form-control" id="pass" placeholder="Enter your password here" type="password" asp-for="Password" />
            </div>
            <div style="color:red; font-weight:500; display:flex; align-items:center">@error</div>
            <button type="submit">Log in</button>
        </form>
    </div>
</div>